---
const tireList = {
    S: [
        {
            name: "Afterimage",
            image: "Afterimage.jpg",
            url: "https://store.steampowered.com/app/1701520/Afterimage/",
        },
        {
            name: "Biomorph",
            image: "Biomorph.jpg",
            url: "https://store.steampowered.com/app/1438250/Biomorph/",
        },
        {
            name: "Blasphemous 2",
            image: "Blasphemous2_MeaCulpa2.jpg",
            url: "https://store.steampowered.com/app/2114740/Blasphemous_2/",
        },
        {
            name: "Ender Lilies",
            image: "EnderLilies.jpg",
            url: "https://store.steampowered.com/app/1369630/ENDER_LILIES_Quietus_of_the_Knights/",
        },
        {
            name: "Ender Magnolia: Bloom in the Mist",
            image: "EnderMagnolia.jpg",
            url: "https://store.steampowered.com/app/1929870/ENDER_MAGNOLIA_Bloom_in_the_Mist/",
        },
        {
            name: "GRIME: Definitive Edition",
            image: "GRIME.jpg",
            url: "https://store.steampowered.com/app/1123050/GRIME/",
        },
        {
            name: "Hollow Knight: Voidheart Edition",
            image: "HollowKnight.jpg",
            url: "https://store.steampowered.com/app/367520/Hollow_Knight/",
        },
        {
            name: "Ori and the Will of the Wisps",
            image: "OriAndTheWillOfTheWisps.jpg",
            url: "https://store.steampowered.com/app/1057090/Ori_and_the_Will_of_the_Wisps/",
        },
        {
            name: "Prince of Persia: The Lost Crown",
            image: "PoPTLC.jpg",
            url: "https://store.steampowered.com/app/2078710/Prince_of_Persia_The_Lost_Crown/",
        },
    ],
    A: [
        {
            name: "Bio-Gun",
            image: "Bio-Gun.jpg",
            url: "https://store.steampowered.com/app/1219240/BioGun/",
        },
        {
            name: "Blasphemous",
            image: "Blasphemous.jpg",
            url: "https://store.steampowered.com/app/774361/Blasphemous/",
        },
        {
            name: "Castlevania: Dawn of Sorrow",
            image: "CastlevaniaDawnOfSorrow.jpg",
            url: "https://store.steampowered.com/app/294650/Castlevania_Advance_Collection/", // Part of the Advance Collection
        },
        {
            name: "Castlevania: Order of Ecclesia",
            image: "CastlevaniaOrderOfEcclesia.jpg",
            url: "https://store.steampowered.com/app/294650/Castlevania_Advance_Collection/", // Part of the Advance Collection
        },
        {
            name: "Castlevania: Symphony of the Night",
            image: "CastlevaniaSymphonyOfTheNight.jpg",
            url: "https://store.steampowered.com/app/1171920/Castlevania_Anniversary_Collection/", // Part of the Anniversary Collection
        },
        {
            name: "Crypt Custodian",
            image: "CryptCustodian.jpg",
            url: "https://store.steampowered.com/app/2399420/Crypt_Custodian/",
        },
        {
            name: "F.I.S.T. Forged in Shadow Torch",
            image: "FIST.jpg",
            url: "https://store.steampowered.com/app/1335830/FIST_Forged_In_Shadow_Torch/",
        },
        {
            name: "Metroid Dread",
            image: "MetroidDread.jpg",
            url: "https://www.nintendo.com/store/products/metroid-dread-switch/", // Not on Steam, Nintendo Switch exclusive
        },
        {
            name: "Metroid Fusion",
            image: "MetroidFusion.jpg",
            url: "https://www.nintendo.com/store/products/metroid-fusion-wii-u/", // Not on Steam, available via Nintendo platforms
        },
        {
            name: "Nine Sols",
            image: "NineSols.jpg",
            url: "https://store.steampowered.com/app/1808860/Nine_Sols/",
        },
        {
            name: "Ori and the Blind Forest",
            image: "OriAndTheBlindForest.jpg",
            url: "https://store.steampowered.com/app/261570/Ori_and_the_Blind_Forest/",
        },
        {
            name: "Pronty",
            image: "Pronty.jpg",
            url: "https://store.steampowered.com/app/1286280/Pronty/",
        },
        {
            name: "Super Metroid",
            image: "SuperMetroid.jpg",
            url: "https://www.nintendo.com/store/products/super-metroid-wii-u/", // Not on Steam, available via Nintendo platforms
        },
        {
            name: "The Last Faith",
            image: "TheLastFaith.jpg",
            url: "https://store.steampowered.com/app/1278330/The_Last_Faith/",
        },
        {
            name: "Vigil: The Longest Night",
            image: "VigilTheLongestNight.jpg",
            url: "https://store.steampowered.com/app/720620/Vigil_The_Longest_Night/",
        },
        {
            name: "Voidwrought",
            image: "Voidwrought.jpg",
            url: "https://store.steampowered.com/app/1928110/Voidwrought/",
        },
    ],
    B: [
        {
            name: "9 Years of Shadows",
            image: "9YearsOfShadows.jpg",
            url: "https://store.steampowered.com/app/1402120/9_Years_of_Shadows/",
        },
        {
            name: "Alwa's Legacy",
            image: "AlwasLegacy.jpg",
            url: "https://store.steampowered.com/app/1205900/Alwas_Legacy/",
        },
        {
            name: "Astalon: Tears of the Earth",
            image: "AstalonTearsOfTheEarth.jpg",
            url: "https://store.steampowered.com/app/1244420/Astalon_Tears_of_the_Earth/",
        },
        {
            name: "Awaken: Astral Blade",
            image: "AwakenAstralBlade.jpg",
            url: "https://store.steampowered.com/app/2116410/Awaken_Astral_Blade/",
        },
        {
            name: "Axiom Verge",
            image: "AxiomVerge.jpg",
            url: "https://store.steampowered.com/app/332200/Axiom_Verge/",
        },
        {
            name: "Bloodstained: Ritual of the Night",
            image: "BloodstainedRitualOfTheNight.jpg",
            url: "https://store.steampowered.com/app/692850/Bloodstained_Ritual_of_the_Night/",
        },
        {
            name: "Bo: Path of the Teal Lotus",
            image: "BoPathOfTheTealLotus.jpg",
            url: "https://store.steampowered.com/app/1614440/Bo_Path_of_the_Teal_Lotus/",
        },
        {
            name: "Carrion",
            image: "Carrion.jpg",
            url: "https://store.steampowered.com/app/953490/Carrion/",
        },
        {
            name: "Castlevania: Portrait of Ruin",
            image: "CastlevaniaPortraitOfRuin.jpg",
            url: "https://store.steampowered.com/app/1171920/Castlevania_Anniversary_Collection/", // Not directly on Steam, part of a collection
        },
        {
            name: "Convergence",
            image: "Convergence.jpg",
            url: "https://store.steampowered.com/app/1707790/Convergence/", // Assuming this is the correct game
        },
        {
            name: "Cookie Cutter",
            image: "CookieCutter.jpg",
            url: "https://store.steampowered.com/app/1920730/Cookie_Cutter/",
        },
        {
            name: "Death's Gambit: Afterlife",
            image: "DeathsGambitAfterlife.jpg",
            url: "https://store.steampowered.com/app/356650/Deaths_Gambit_Afterlife/",
        },
        {
            name: "Ghost Song",
            image: "GhostSong.jpg",
            url: "https://store.steampowered.com/app/347800/Ghost_Song/",
        },
        {
            name: "Guns of Fury",
            image: "GunsOfFury.jpg",
            url: "https://store.steampowered.com/app/1920730/Guns_of_Fury/", // No exact match, placeholder URL
        },
        {
            name: "HAAK",
            image: "Haak.jpg",
            url: "https://store.steampowered.com/app/1352930/HAAK/",
        },
        {
            name: "Haiku the Robot",
            image: "HaikuTheRobot.jpg",
            url: "https://store.steampowered.com/app/1231880/Haiku_the_Robot/",
        },
        {
            name: "Iconoclasts",
            image: "Iconoclasts.jpg",
            url: "https://store.steampowered.com/app/393520/Iconoclasts/",
        },
        {
            name: "Lone Fungus",
            image: "LoneFungus.jpg",
            url: "https://store.steampowered.com/app/1674990/Lone_Fungus/",
        },
        {
            name: "Moonscars",
            image: "Moonscars.jpg",
            url: "https://store.steampowered.com/app/1376960/Moonscars/",
        },
        {
            name: "Rebel Transmute",
            image: "RebelTransmute.jpg",
            url: "https://store.steampowered.com/app/1595730/Rebel_Transmute/",
        },
        {
            name: "Shantae & the Pirate's Curse",
            image: "ShantaeAndThePiratesCurse.jpg",
            url: "https://store.steampowered.com/app/345820/Shantae_and_the_Pirates_Curse/",
        },
        {
            name: "Shantae & the Seven Sirens",
            image: "ShantaeAndTheSevenSirens.jpg",
            url: "https://store.steampowered.com/app/1191630/Shantae_and_the_Seven_Sirens/",
        },
        {
            name: "Steamworld Dig 2",
            image: "SteamworldDig2.jpg",
            url: "https://store.steampowered.com/app/571310/SteamWorld_Dig_2/",
        },
        {
            name: "Super Roboy",
            image: "SuperRoboy.jpg",
            url: "https://store.steampowered.com/app/1920730/Super_Roboy/", // No exact match, placeholder URL
        },
        {
            name: "The Mobius Machine",
            image: "TheMobiusMachine.jpg",
            url: "https://store.steampowered.com/app/1920730/The_Mobius_Machine/", // No exact match, placeholder URL
        },
        {
            name: "The Mummy Demastered",
            image: "TheMummyDemastered.jpg",
            url: "https://store.steampowered.com/app/630310/The_Mummy_Demastered/",
        },
        {
            name: "Unworthy",
            image: "Unworthy.jpg",
            url: "https://store.steampowered.com/app/613190/Unworthy/",
        },
    ],
    C: [
        {
            name: "8 Doors: Arum's Afterlife Adventure",
            image: "8Doors.jpg",
            url: "https://store.steampowered.com/app/1089830/8Doors_Arums_Afterlife_Adventure/",
        },
        {
            name: "Aeterna Noctis",
            image: "AeternaNoctis.jpg",
            url: "https://store.steampowered.com/app/1359370/Aeterna_Noctis/",
        },
        {
            name: "Alruna & the Necro-Industrialists",
            image: "AlrunaAndTheNecroIndustrialists.jpg",
            url: "https://store.steampowered.com/app/1920730/Alruna_and_the_NecroIndustrialists/", // No exact match, placeholder URL
        },
        {
            name: "Ato",
            image: "Ato.jpg",
            url: "https://store.steampowered.com/app/1096180/Ato/",
        },
        {
            name: "Axiom Verge 2",
            image: "AxiomVerge2.jpg",
            url: "https://store.steampowered.com/app/946030/Axiom_Verge_2/",
        },

        {
            name: "Cathedral",
            image: "Cathedral.jpg",
            url: "https://store.steampowered.com/app/1056180/Cathedral/",
        },
        {
            name: "Curse of the Sea Rats",
            image: "CurseOfTheSeaRats.jpg",
            url: "https://store.steampowered.com/app/1424660/Curse_of_the_Sea_Rats/",
        },
        {
            name: "Doomblade",
            image: "Doomblade.jpg",
            url: "https://store.steampowered.com/app/1331360/DOOMBRINGER/",
        },
        {
            name: "Ebenezer and the Invisible World",
            image: "EbenezerAndTheInvisibleWorld.jpg",
            url: "https://store.steampowered.com/app/1920730/Ebenezer_and_the_Invisible_World/", // No exact match, placeholder URL
        },
        {
            name: "Elderand",
            image: "Elderand.jpg",
            url: "https://store.steampowered.com/app/1413680/Elderand/",
        },
        {
            name: "Fearmonium",
            image: "Fearmonium.jpg",
            url: "https://store.steampowered.com/app/1068360/Fearmonium/",
        },
        {
            name: "Gal Guardians: Servants of the Dark",
            image: "ServantsOfTheDark.jpg",
            url: "https://store.steampowered.com/app/1920730/Gal_Guardians_Servants_of_the_Dark/", // No exact match, placeholder URL
        },
        {
            name: "Gestalt: Steam & Cinder",
            image: "Gestalt.jpg",
            url: "https://store.steampowered.com/app/1231990/Gestalt_Steam__Cinder/",
        },
        {
            name: "Islets",
            image: "Islets.jpg",
            url: "https://store.steampowered.com/app/1669420/Islets/",
        },
        {
            name: "Kingdom Shell",
            image: "KingdomShell.jpg",
            url: "https://store.steampowered.com/app/1920730/Kingdom_Shell/", // No exact match, placeholder URL
        },
        {
            name: "Kunai",
            image: "Kunai.jpg",
            url: "https://store.steampowered.com/app/1001800/KUNAI/",
        },
        {
            name: "MindSeize",
            image: "MindSeize.jpg",
            url: "https://store.steampowered.com/app/1186010/MindSeize/",
        },
        {
            name: "Momodora: Moonlit Farewell",
            image: "MomodoraMoonlitFarewell.jpg",
            url: "https://store.steampowered.com/app/1748300/Momodora_Moonlit_Farewell/",
        },
        {
            name: "Psycron",
            image: "Psycron.jpg",
            url: "https://store.steampowered.com/app/1920730/Psycron/", // No exact match, placeholder URL
        },
        {
            name: "Shantae: 1/2-Genie Hero",
            image: "ShantaeHalfGenieHero.jpg",
            url: "https://store.steampowered.com/app/764300/Shantae_HalfGenie_Hero_Ultimate_Edition/",
        },
        {
            name: "Somber Echoes",
            image: "SomberEchoes.jpg",
            url: "https://store.steampowered.com/app/1920730/Somber_Echoes/", // No exact match, placeholder URL
        },
        {
            name: "Souldiers",
            image: "Souldiers.jpg",
            url: "https://store.steampowered.com/app/1416220/Souldiers/",
        },
        {
            name: "The Devil Within: Satgat",
            image: "DevilWithinSatgat.jpg",
            url: "https://store.steampowered.com/app/1920730/The_Devil_Within_Satgat/", // No exact match, placeholder URL
        },
        {
            name: "The Knight Witch",
            image: "TheKnightWitch.jpg",
            url: "https://store.steampowered.com/app/1872680/The_Knight_Witch/",
        },
        {
            name: "The Last Case of Benedict Fox",
            image: "TheLastCaseOfBenedictFox.jpg",
            url: "https://store.steampowered.com/app/1308320/The_Last_Case_of_Benedict_Fox/",
        },
        {
            name: "Twilight Monk",
            image: "TwilightMonk.jpg",
            url: "https://store.steampowered.com/app/1920730/Twilight_Monk/", // No exact match, placeholder URL
        },
        {
            name: "Ultros",
            image: "Ultros.jpg",
            url: "https://store.steampowered.com/app/2256140/Ultros/",
        },
        {
            name: "Xanthiom Zero",
            image: "XanthiomZero.jpg",
            url: "https://store.steampowered.com/app/1920730/Xanthiom_Zero/", // No exact match, placeholder URL
        },
        {
            name: "Zapling Bygone",
            image: "ZaplingBygone.jpg",
            url: "https://store.steampowered.com/app/1489110/Zapling_Bygone/",
        },
    ],
    D: [
        {
            name: "3000th Duel",
            image: "3000thDuel.jpg",
            url: "https://store.steampowered.com/app/1080210/3000th_Duel/",
        },
        {
            name: "Aestik",
            image: "Aestik.jpg",
            url: "https://store.steampowered.com/app/1920730/Aestik/", // No exact match, placeholder URL
        },
        {
            name: "Angel's Gear",
            image: "AngelsGear.jpg",
            url: "https://store.steampowered.com/app/1920730/Angels_Gear/", // No exact match, placeholder URL
        },
        {
            name: "Anima Flux",
            image: "AnimaFlux.jpg",
            url: "https://store.steampowered.com/app/1920730/Anima_Flux/", // No exact match, placeholder URL
        },
        {
            name: "Blade Chimera",
            image: "BladeChimera.jpg",
            url: "https://store.steampowered.com/app/1920730/Blade_Chimera/", // No exact match, placeholder URL
        },
        {
            name: "Bone Appetit",
            image: "BoneAppetit.jpg",
            url: "https://store.steampowered.com/app/1920730/Bone_Appetit/", // No exact match, placeholder URL
        },
        {
            name: "Dark Devotion",
            image: "DarkDevotion.jpg",
            url: "https://store.steampowered.com/app/718590/Dark_Devotion/",
        },
        {
            name: "Exorcist Fairy",
            image: "ExorcistFairy.jpg",
            url: "https://store.steampowered.com/app/1920730/Exorcist_Fairy/", // No exact match, placeholder URL
        },
        {
            name: "GenoPanic",
            image: "GenoPanic.jpg",
            url: "https://store.steampowered.com/app/1920730/GenoPanic/", // No exact match, placeholder URL
        },
        {
            name: "Goo Keeper",
            image: "GooKeeper.jpg",
            url: "https://store.steampowered.com/app/1920730/Goo_Keeper/", // No exact match, placeholder URL
        },
        {
            name: "HunterX",
            image: "HunterX.jpg",
            url: "https://store.steampowered.com/app/1920730/HunterX/", // No exact match, placeholder URL
        },
        {
            name: "HunterX: Code Name T",
            image: "HunterX2.jpg",
            url: "https://store.steampowered.com/app/1920730/HunterX_Code_Name_T/", // No exact match, placeholder URL
        },
        {
            name: "MARS 2120",
            image: "MARS2120.jpg",
            url: "https://store.steampowered.com/app/1420930/MARS_2120/",
        },
        {
            name: "Moonlight Pulse",
            image: "MoonlightPulse.jpg",
            url: "https://store.steampowered.com/app/1920730/Moonlight_Pulse/", // No exact match, placeholder URL
        },
        {
            name: "Rin: The Last Child",
            image: "RinTheLastChild.jpg",
            url: "https://store.steampowered.com/app/1920730/Rin_The_Last_Child/", // No exact match, placeholder URL
        },
        {
            name: "Roots of the Mind",
            image: "RootsOfTheMind.jpg",
            url: "https://store.steampowered.com/app/1920730/Roots_of_the_Mind/", // No exact match, placeholder URL
        },
        {
            name: "Tales of Kenzera: Zau",
            image: "TalesOfKenzeraZau.jpg",
            url: "https://store.steampowered.com/app/1920730/Tales_of_Kenzera_Zau/", // No exact match, placeholder URL
        },
        {
            name: "TEVI",
            image: "TEVI.jpg",
            url: "https://store.steampowered.com/app/1920730/TEVI/", // No exact match, placeholder URL
        },
        {
            name: "The Ramsey",
            image: "TheRamsey.jpg",
            url: "https://store.steampowered.com/app/1920730/The_Ramsey/", // No exact match, placeholder URL
        },
        {
            name: "The Tarnishing of Juxtia",
            image: "TheTarnishingOfJuxtia.jpg",
            url: "https://store.steampowered.com/app/1428710/The_Tarnishing_of_Juxtia/",
        },
        {
            name: "Touhou Luna Nights",
            image: "TouhouLunaNights.jpg",
            url: "https://store.steampowered.com/app/851100/Touhou_Luna_Nights/",
        },
        {
            name: "Yars Rising",
            image: "YarsRising.jpg",
            url: "https://store.steampowered.com/app/1920730/Yars_Rising/", // No exact match, placeholder URL
        },
    ],
    F: {
        "Games I Got Distracted From": [
            {
                name: "ARES: Extinction Agenda EX",
                image: "ARESExtinctionAgenda.jpg",
                url: "https://store.steampowered.com/app/336420/ARES_Extinction_Agenda_EX/",
            },
            {
                name: "Ascenxion",
                image: "Ascenxion.jpg",
                url: "https://store.steampowered.com/app/1920730/Ascenxion/", // No exact match, placeholder URL
            },
            {
                name: "Hell Yeah! WofDR",
                image: "HellYeah.jpg",
                url: "https://store.steampowered.com/app/205230/Hell_Yeah_Wrath_of_the_Dead_Rabbit/",
            },
            {
                name: "Infernax",
                image: "Infernax.jpg",
                url: "https://store.steampowered.com/app/374190/Infernax/",
            },
            {
                name: "Insanely Twisted Shadow Planet",
                image: "InsanelyTwistedShadowPlanet.jpg",
                url: "https://store.steampowered.com/app/205730/Insanely_Twisted_Shadow_Planet/",
            },
            {
                name: "Iron Diamond",
                image: "IronDiamond.jpg",
                url: "https://store.steampowered.com/app/1920730/Iron_Diamond/", // No exact match, placeholder URL
            },
            {
                name: "Kharon's Crypt: Even Death May Die",
                image: "KharonsCrypt.jpg",
                url: "https://store.steampowered.com/app/1046670/Kharons_Crypt_Even_Death_May_Die/",
            },
            {
                name: "Marko: Beyond Brave",
                image: "MarkoBeyondBrave.jpg",
                url: "https://store.steampowered.com/app/1920730/Marko_Beyond_Brave/", // No exact match, placeholder URL
            },
            {
                name: "Minishoot' Adventures",
                image: "MinishootAdventures.jpg",
                url: "https://store.steampowered.com/app/1920730/Minishoot_Adventures/", // No exact match, placeholder URL
            },
            {
                name: "Out There Somewhere",
                image: "OutThereSomewhere.jpg",
                url: "https://store.steampowered.com/app/263980/Out_There_Somewhere/",
            },
            {
                name: "Outbuddies DX",
                image: "OutBuddiesDX.jpg",
                url: "https://store.steampowered.com/app/1083310/OUTBUDDIES_DX/",
            },
            {
                name: "Pharoah Rebirth+",
                image: "PharoahRebirth.jpg",
                url: "https://store.steampowered.com/app/364360/Pharaoh_Rebirth/",
            },
            {
                name: "Tails of Iron",
                image: "TailsOfIron.jpg",
                url: "https://store.steampowered.com/app/1289250/Tails_of_Iron/",
            },
            {
                name: "The Swapper",
                image: "TheSwapper.jpg",
                url: "https://store.steampowered.com/app/231160/The_Swapper/",
            },
            {
                name: "Timespinner",
                image: "Timespinner.jpg",
                url: "https://store.steampowered.com/app/368620/Timespinner/",
            },
            {
                name: "Venture to the Vile",
                image: "VentureToTheVile.jpg",
                url: "https://store.steampowered.com/app/1920730/Venture_to_the_Vile/", // No exact match, placeholder URL
            },
        ],
        "Games I Didn't Enjoy": [
            {
                name: "Apotheon",
                image: "Apotheon.jpg",
                url: "https://store.steampowered.com/app/208750/Apotheon/",
            },
            {
                name: "Batbarian (TotP)",
                image: "Batbarian.jpg",
                url: "https://store.steampowered.com/app/837460/Batbarian_Testament_of_the_Primordials/",
            },
            {
                name: "Candle Knight",
                image: "CandleKnight.jpg",
                url: "https://store.steampowered.com/app/1920730/Candle_Knight/", // No exact match, placeholder URL
            },
            {
                name: "Castle in the Darkness",
                image: "CastleInTheDarkness.jpg",
                url: "https://store.steampowered.com/app/262960/Castle_In_The_Darkness/",
            },
            {
                name: "Dark Light",
                image: "DarkLight.jpg",
                url: "https://store.steampowered.com/app/1146630/Dark_Light/",
            },
            {
                name: "Into the Underdusk",
                image: "IntoTheUnderdusk.jpg",
                url: "https://store.steampowered.com/app/1920730/Into_the_Underdusk/", // No exact match, placeholder URL
            },
            {
                name: "La Mulana",
                image: "LaMulana.jpg",
                url: "https://store.steampowered.com/app/230700/LaMulana/",
            },
            {
                name: "La Mulana 2",
                image: "LaMulana2.jpg",
                url: "https://store.steampowered.com/app/835430/LaMulana_2/",
            },
            {
                name: "Mable and the Wood",
                image: "MableAndTheWood.jpg",
                url: "https://store.steampowered.com/app/760590/Mable__The_Wood/",
            },
            {
                name: "Mark of the Deep",
                image: "MarkOfTheDeep.jpg",
                url: "https://store.steampowered.com/app/1920730/Mark_of_the_Deep/", // No exact match, placeholder URL
            },
            {
                name: "Momodora (Reverie)",
                image: "MomodoraReverie.jpg",
                url: "https://store.steampowered.com/app/428550/Momodora_Reverie_Under_The_Moonlight/",
            },
            {
                name: "Owlboy",
                image: "Owlboy.jpg",
                url: "https://store.steampowered.com/app/115800/Owlboy/",
            },
            {
                name: "Salt and Sanctuary",
                image: "SaltAndSanctuary.jpg",
                url: "https://store.steampowered.com/app/283640/Salt_and_Sanctuary/",
            },
            {
                name: "Sundered",
                image: "Sundered.jpg",
                url: "https://store.steampowered.com/app/535480/Sundered_Eldritch_Edition/",
            },
            {
                name: "Teslagrad",
                image: "Teslagrad.jpg",
                url: "https://store.steampowered.com/app/249590/Teslagrad/",
            },
            {
                name: "The Fall",
                image: "TheFall.jpg",
                url: "https://store.steampowered.com/app/290770/The_Fall/",
            },
            {
                name: "The Messenger",
                image: "TheMessenger.jpg",
                url: "https://store.steampowered.com/app/764790/The_Messenger/",
            },
            {
                name: "The Throne",
                image: "TheThrone.jpg",
                url: "https://store.steampowered.com/app/1920730/The_Throne/", // No exact match, placeholder URL
            },
            {
                name: "The Vagrant",
                image: "TheVagrant.jpg",
                url: "https://store.steampowered.com/app/668530/The_Vagrant/",
            },
            {
                name: "Two Parsecs from Earth",
                image: "TwoParsecsFromEarth.jpg",
                url: "https://store.steampowered.com/app/1920730/Two_Parsecs_from_Earth/", // No exact match, placeholder URL
            },
            {
                name: "Unformed",
                image: "Unformed.jpg",
                url: "https://store.steampowered.com/app/1920730/Unformed/", // No exact match, placeholder URL
            },
            {
                name: "Yeomna: The Legend of Dongbaek",
                image: "Yeomna.jpg",
                url: "https://store.steampowered.com/app/1920730/Yeomna_The_Legend_of_Dongbaek/", // No exact match, placeholder URL
            },
        ],
    },
};
---

<div class=" min-h-screen py-6 px-4 font-sans">
    <div class="max-w-5xl mx-auto">
        {Object.entries(tireList).map(([tier, games]) => (
            <div class="flex mb-4 items-start">
                {/* Tier Column */}
                <div class="w-20 flex-shrink-0 pt-2">
                    <div class="w-12 h-12 flex items-center justify-center text-xl font-bold bg-white rounded-lg shadow-sm border border-gray-200">
                        {tier}
                    </div>
                </div>

                {/* Games Row */}
                {tier === 'F' ? (
                    <div class="flex-1">
                        {Object.entries(games).map(([subTier, subGames]) => (
                            <div class="mb-4">
                                <h3 class="text-md font-medium text-gray-700 mb-2">{subTier}</h3>
                                <div class="flex flex-row gap-3 flex-wrap pb-2">
                                    {subGames.map((game : any) => (
                                        <a href={game.url} target="_blank" rel="noopener noreferrer"
                                           class="flex-shrink-0 w-32 p-2 bg-white rounded-lg border border-gray-200 
                                                  hover:shadow-md hover:-translate-y-1 transition-all duration-200">
                                            <img src={`/images/${game.image}`} alt={game.name} 
                                                 class="w-full h-20 object-cover rounded mb-2"/>
                                            <h3 class="text-xs font-medium text-gray-800 truncate">{game.name}</h3>
                                        </a>
                                    ))}
                                </div>
                            </div>
                        ))}
                    </div>
                ) : (
                    <div class="flex-1">
                        <div class="flex flex-row gap-3 flex-wrap pb-2">
                            {(games as any[]).map((game :any) => (
                                <a href={game.url} target="_blank" rel="noopener noreferrer"
                                   class="flex-shrink-0 w-32 p-2 bg-white rounded-lg border border-gray-200 
                                          hover:shadow-md hover:-translate-y-1 transition-all duration-200">
                                    <img src={`/images/${game.image}`} alt={game.name} 
                                         class="w-full h-20 object-cover rounded mb-2"/>
                                    <h3 class="text-xs font-medium text-gray-800 truncate">{game.name}</h3>
                                </a>
                            ))}
                        </div>
                    </div>
                )}
            </div>
        ))}
    </div>
</div>
